body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
}

.App-header {
        background-color: #363b74;
        height: 50px;
        padding: 20px;
        color: white;
}

.App-body {
        margin: 0 auto;
        width: 400;
        position: relative;
}

.App-body ul {
        position: absolute;
        right: 0px;
        text-align: left;
        list-style-type: none;
}

.App-footer {
        background-color: #673888;
        height: 10px;
}

.App-grid-item {
        background-color: #c79dd7;
        width: 25px;
        height: 25px;
        padding: 15px 15px;
        font-size: 30px;
}

.pressed-grid-item {
        background-color: #ccc;
}

#canvas-parent {
        text-align: center;
}
  
